*,
html {
    margin: 0;
    padding: 0;
}

.container {}
body {
    background-color: rgb(211, 177, 170)
}

.container-navbar {
    background-color:crimson;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    background-color: rgb(104, 91, 74);
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: rgb(221, 221, 221);
    font-size: 30px;
}

.li-navbar:hover {
    background-color: rgb(49, 42, 35);
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
    text-shadow: 4px 11px 13px rgba(0,0,0,0.41);
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.container-content{
    background-color:  #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color:   white;
    color: black;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 4px 11px 13px rgba(0,0,0,0.41);
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px ;
    box-shadow: 10px 10px 35px 0px rgba(171, 43, 43, 0.83);
-webkit-box-shadow: 10px 10px 35px 0px rgba(135, 61, 61, 0.83);
-moz-box-shadow: 10px 10px 35px 0px rgba(63, 42, 42, 0.83);
}
.img-content {
    width: 50%;
    height 50%;
}

.container-footer{
    height: 10vh;
    background-color: rgb(104, 91, 74);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font-size 40px;
    color: white;
}
